<h1>YOUR RUN STATS</h1>
<p class="new-run"><%= link_to 'Log New Run', new_user_run_path(@user.id), :class => 'navbar-link' %></p>
<h2>Last Three Runs</h2>
<% @runs.last(3).each do |run| %>
<div class="run-holder">
  <div class="indv-run">
    <h4>Date: <%= run.run_date %></h2>
    <% if run.outdoors %>
      <strong>Outdoors</strong><br/>
    <% else %>
      <strong>Indoors</strong><br/>
    <% end %>
    <strong>Distance: <%= run.distance %> miles</strong><br/>
    <strong>Pace: <%= run.pace.to_s.gsub(".",":") %> minutes per mile</strong><br/>
    <%= link_to 'Edit Run', edit_user_run_path(@user.id, run.id) %> -----
    <%= link_to 'Delete Run', user_run_path(@user.id, run.id), :method => 'delete' %>
  </div>
</div>
<% end %>
<h2>Other Stats</h2>
<div class="run-holder">
  <div class="stat-holder">
    <h2>Outdoors</h2>
    <strong>Number of Runs: <%= @out_runs %></strong> | <strong>Total Miles: <%= @mile_count_out %></strong><br/>
    <strong>Longest Run: <%= @long_run_out %> miles</strong><br/>
    <strong>Fastest Pace: <%= @fast_pace_out %> minutes per mile(<%= @fast_pace_out_mil.distance %> miles)</strong>
  </div>
</div>
<div class="run-holder">
  <div class="stat-holder">
    <h2>Indoors</h2>
    <strong>Number of Runs: <%= @ind_runs %></strong> | <strong>Total Miles: <%= @mile_count_ind %></strong><br/>
    <strong>Longest Run: <%= @long_run_ind %> miles</strong><br/>
    <strong>Fastest Pace: <%= @fast_pace_ind %> minutes per mile(<%= @fast_pace_ind_mil.distance %> miles)</strong>
  </div>
</div>
<div class="run-holder">
  <div class="stat-holder">
    <h2>Overall</h2>
    <strong>Number of Runs: <%= @runs.count %></strong> | <strong>Total Miles: <%= @mile_count %></strong><br/>
    <strong>Longest Run: <%= @long_run %> miles</strong><br/>
    <strong>Fastest Pace: <%= @fast_pace %> minutes per mile(<%= @fast_pace_mil.distance %> miles)</strong>
  </div>
</div>
